*{
  /* appearence preference */
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#canvas{
  cursor: crosshair;
}

#toolbar{
  width: 902px; /* canvas 900 + border 2 */
  height: 90px;
  padding: 10px;
  position: fixed;
  top: 900;
  background-color: #4F4F4F;
  color: white;
  border: 2px solid #AFAFAF;
  font-size: 20px;
}

.radctrl{
  width: 30px;
  height: 30px;
  margin-left: 4px;
  background-color: dimgrey;
  display: inline-block; /* default to be new lines */
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.5);
}

#rad{
  float: left;
}

#rgb{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 15px; /* circle */
  display: inline-block; /* default to be new lines */
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.5);
}

#colours{
  float: right;
}

.swatch{
  width: 30px;
  height: 30px;
  border-radius: 15px; /* circle */
  display: inline-block; /* default to be new lines */
  cursor: pointer;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.5);
}

#cmdline{
  top: 740px;
  position: fixed;
  float: left;
}

#shape{
  float: right;
  margin-right: 20px;
  width: 70px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}